
#banner_body{
    background-color:#5956E8 ;
}
.banner_main{
    display: flex;
    justify-content: space-between;
    padding: 182px 0;
}
.banner_left h1{
    font-size:65px;
    line-height: 80px;
    width: 500px;
    color: #fff;
    padding-bottom: 21px;
}
.banner_left p{
    font-size:16px;
    line-height: 27px;
    width: 500px;
    color: #fff;
    padding-bottom: 50px;
}
.banner_left a{
     margin-left: 100px;
     padding: 13px 22px;
     color: #fff;
     border: 1px solid #fff;
     border-radius:14px ;
     -webkit-border-radius:14px ;
     -moz-border-radius:14px ;
     -ms-border-radius:14px ;
     -o-border-radius:14px ;
}

.banner_right img{
    margin-top: -80px;
}